.video{
	width: 720px;
	height: 500px;
	margin-left: auto;
	margin-right: auto;
}
.link{
	color:#D4D6D8;
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	font-family: Courier;
	font-size: 1.4em;
	text-align: center;
}