.wrapper{
	background-color: rgba(17, 23, 29, 0.5);
	margin-left:auto;
	margin-right:auto;
	width: 98%;
	border:3px solid #121A24;
	border-radius:10px;
}
.header{
	background-color:rgba(18, 26, 36, 0.55);
	width: 100%;
	height: 100px;
	border-bottom: 3px solid #121A24;
	
}

.header_text{
	height: 20px;
	color: #D4D6D8;
	font-family: Courier New;
	font-size: 3em;
	text-align: center;
	padding: 25px;
}

.body{
	background-image: url("assets/ss.png");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}
.content{
	background-color:rgba(20, 34, 56, 0.3);
	color: #D4D6D8;
	margin-left:auto;
	margin-right: auto;
	margin-top:5%;
	width: 88%;
	height:2390px;
	font-family: Courier New;
	font-size: 28px;
	border:3px solid #101416;
	border-radius:10px;
}

.Sunny_content{
	background-color: rgba(18, 26, 36, 0.55);
	height:200px;
	width:100%;
	text-align:right;
	margin-top:30px;
	border-bottom:3px solid black;
	border-top:3px solid black;
}

.footer{
	background-color:rgba(20, 34, 56, 0.3);
	color: #D4D6D8;
	margin-left:auto;
	margin-right: auto;
	margin-top:10px;
	margin-bottom:10px;
	width: 88%;
	height:30px;
	font-family: Courier New;
	font-size: 25px;
	border:3px solid #101416;
	border-radius:10px;
	text-align:center;
}
.img_content{
	float: left;
	width:280px;
	height:157px;
	border:3px solid black;
	border-radius:10px;
	margin-left:10px;
	margin-top:5px;
}
.text_content{
	padding-left: 10px;
	background-color: rgba(34, 49, 68, 0.55);
	font-size:0.8em;
	height:200px;
	width:420px;
	border-left:3px solid #101416;
	float:right;
}
.link_style{
	color: #D4D6D8;
	text-decoration: none;
}

@media (max-width: 1080px) {
	.wrapper{
		width: 98%;
	}
	.header{
		height: 200px;
		font-size: 1.5em;
	}
	.content{
		margin-top:5%;
		width: 90%;
		height:5135px;
		font-family: Courier New;
		font-size: 28px;
		border:3px solid #101416;
		border-radius:10px;
	}

	.Sunny_content{
		height:475px;
		width:100%;
		text-align:right;
		margin-top:30px;
		border-bottom:3px solid black;
		border-top:3px solid black;
	}

	.footer{
		width:0%;
		font-family: Courier New;
		font-size: 25px;
	}
	.img_content{
		width: 443px;
		height:255px;
		margin-left:10px;
		margin-right: 10px;
		margin-top:5px;
		margin-bottom: 5px;
	}
	.text_content{
		background-color: rgba(34, 49, 68, 0.3);
		font-size: 1em;
		height:200px;
		width: 99%;
		border-top:3px solid #101416;
		border-left: 0px;
	}
}