.wrapper{
	background-color: rgba(17, 23, 29, 0.5);
	margin-left:auto;
	margin-right:auto;
	width: 98%;
	border:3px solid #121A24;
	border-radius:10px;
}
.body{
	background-image: url("assets/ss.png");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}
.header{
	display:flex;
	background-color:rgba(18, 26, 36, 0.55);
	color: #D4D6D8;
	margin-left:auto;
	margin-right:auto;
	width: 100%;
	height:75px;
	border-bottom: 3px solid #121A24;
	font-family: Courier New;
	font-size: 30px;
	justify-content:center;

}
.content{
	background-color:rgba(20, 34, 56, 0.3);
	color: #D4D6D8;
	margin-left:auto;
	margin-right: auto;
	margin-top:5%;
	width: 88%;
	height:2390px;
	font-family: Courier New;
	font-size: 28px;
	border:3px solid #101416;
	border-radius:10px;
}

.Sunny_content{
	background-color: rgba(18, 26, 36, 0.55);
	height:200px;
	width:100%;
	text-align:right;
	margin-top:30px;
	border-bottom:3px solid black;
	border-top:3px solid black;
}

.footer{
	background-color:rgba(20, 34, 56, 0.3);
	color: #D4D6D8;
	margin-left:auto;
	margin-right: auto;
	margin-top:10px;
	margin-bottom:10px;
	width: 88%;
	height:30px;
	font-family: Courier New;
	font-size: 25px;
	border:3px solid #101416;
	border-radius:10px;
	text-align:center;
}
.B11_img_content{
	background-image: url("assets/sunny_b11.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	width:280px;
	height:150px;
	border:3px solid black;
	border-radius:10px;
	margin-left:10px;
	margin-top:5px;
}
.N13_img_content{
	background-image: url("assets/sunny_n13.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	width:280px;
	height:150px;
	border:3px solid black;
	border-radius:10px;
	margin-left:10px;
	margin-top:5px;
}
.B12_img_content{
	background-image: url("assets/sunny_b12.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	width:280px;
	height:150px;
	border:3px solid black;
	border-radius:10px;
	margin-left:10px;
	margin-top:5px;
}
.B13_img_content{
	background-image: url("assets/sunny_b13.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	width:280px;
	height:150px;
	border:3px solid black;
	border-radius:10px;
	margin-left:10px;
	margin-top:5px;
}
.N14_img_content{
	background-image: url("assets/sunny_n14.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	width:280px;
	height:150px;
	border:3px solid black;
	border-radius:10px;
	margin-left:10px;
	margin-top:5px;
}
.B14_img_content{
	background-image: url("assets/sunny_b14.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	width:280px;
	height:150px;
	border:3px solid black;
	border-radius:10px;
	margin-left:10px;
	margin-top:5px;
}
.B15_img_content{
	background-image: url("assets/sunny_b15.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	width:280px;
	height:150px;
	border:3px solid black;
	border-radius:10px;
	margin-left:10px;
	margin-top:5px;
}
.N16_img_content{
	background-image: url("assets/sunny_n16.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	width:280px;
	height:150px;
	border:3px solid black;
	border-radius:10px;
	margin-left:10px;
	margin-top:5px;
}
.B10_img_content{
	background-image: url("assets/sunny_b10.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	width:280px;
	height:150px;
	border:3px solid black;
	border-radius:10px;
	margin-left:10px;
	margin-top:5px;
}
.N17_img_content{
	background-image: url("assets/sunny_n17.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	width:280px;
	height:150px;
	border:3px solid black;
	border-radius:10px;
	margin-left:10px;
	margin-top:5px;
}
.text_content{
	background-color: rgba(34, 49, 68, 0.55);
	font-size:0.8em;
	height:200px;
	width:420px;
	border-left:3px solid #101416;
	float:right;
}

.foto_title_content{
	background-color:green;
	font-size:0.65em;
	height:20px;
	width:50px;
}

.model_title_content{
	display:block;
	background-color:green;
	font-size:0.65em;
	height:25px;
	width:200px;
	float:right;
	margin-bottom:20px;
}

.link_style{
	color: #D4D6D8;
	text-decoration: none;
}